<section id="pre-footer" class="container">
		<section class="row">
			<div class="three">
				<aside>
					<h3>Recent Posts</h3>
					<ul id="recent_posts">
						{% for post in site.posts limit: site.recent_posts %}
						<li class="post">
							<p><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></p>
						</li>
						{% endfor %}
					</ul>
				</aside>
			</div>
			<div class="three">
				<aside>
				{% if site.github_user %}
				<aside>
				  <h3>GitHub Repos</h3>
				  <ul id="gh_repos">
				    <li class="loading repo">Status updating...</li>
				  </ul>
				  {% if site.github_show_profile_link %}
				  <p><a href="https://github.com/{{site.github_user}}">@{{site.github_user}}</a> on GitHub</p>
				  {% endif %}
				  <script type="text/javascript">
				    $.domReady(function(){
				        if (!window.jXHR){
				            var jxhr = document.createElement('script');
				            jxhr.type = 'text/javascript';
				            jxhr.src = '{{ root_url}}/javascripts/libs/jXHR.js';
				            var s = document.getElementsByTagName('script')[0];
				            s.parentNode.insertBefore(jxhr, s);
				        }

				        github.showRepos({
				            user: '{{site.github_user}}',
				            count: {{site.github_repo_count}},
				            skip_forks: {{site.github_skip_forks}},
				            target: '#gh_repos'
				        });
				    });
				  </script>
				  <script src="{{ root_url }}/javascripts/github.js" type="text/javascript"> </script>
				</aside>
				{% endif %}
			</div>
			<div class="three">
				<aside>
				  <h3>About Me</h3><br clear="all"/>
				  <p>I'm Duncan Johnson. I teach undergraduate courses on Bible and Church History at Foundation Baptist College. <a href="{{ root_url }}/about/">More...</a></p>
				</aside>
			</div>
			<div class="three last">
				<aside>
					<h3>Contact Me</h3>
					<p>I welcome comments about the work published here, so if you need to reach me for any reason please don't hesitate to write.</p>
					<p>My email address is <a href="javascript:DeCryptX('evodboAevodbokpiotpo/db')">duncan [at] duncanjohnson [dot] ca</a>.</p>
				</aside>
			</div>
		</section>
	</section>
	<footer class="container">
		<section class="row">
			<article class="six">
				<p>
					<small>
						&copy; {{ site.time | date: "%Y" }} {{ site.author }} / Proudly powered by <a href="http://octopress.org">Octopress</a> /
						<a href="https://github.com/billpatrianakos/matvre">Matvre</a> Theme by Bill Patrianakos
					</small>
				</p>
			</article>
			<nav class="six last">
				<ul>
					<li><a href="{{ root_url }}/">Blog</a></li>
					<li><a href="{{ root_url }}/about">About</a></li>
					<li><a href="{{ root_url }}/now">Now</a></li>
					<li><a href="{{ root_url }}/teaching">Teaching</a></li>
					<li><a href="{{ root_url }}/projects">Projects</a></li>
					<li><a href="{{ root_url }}/blog/archives">Archive</a></li>
				</ul>
			</nav>
		</section>
	</footer>
